In [1]:
# import relevant modules
import pandas as pd

In [37]:
# read grades dataset, save as a pandas dataframe
grades = pd.read_csv('grades.csv')

In [36]:
# display first few rows of grades
grades

   exam  student_id  grade
0     1           1   86.0

In [39]:
grades_coloumn = grades.loc[grades['student_id'] == 1]
print(grades_coloumn)
mean_grade = grades_coloumn.mean()
print(mean_grade)
mean_grade_zeros = grades.fillna(0).mean()
print(mean_grade_zeros)

    exam  student_id  grade
0      1           1   86.0
10     2           1   79.0
20     3           1   78.0
30     4           1    NaN
40     5           1   90.0
exam           3.00
student_id     1.00
grade         83.25
dtype: float64
exam           3.00
student_id     5.50
grade         75.76
dtype: float64

In [18]:
def mean_atleast_70(student_id):
    
    """Compute mean grade across all exams for student with given student_id.
    Treat missing exam grades as zeros.
    If mean grade is atleast 70, return True. Otherwise, return False."""
    
    mean_grade = grades.loc[grades['student_id'] == student_id]['grade'].fillna(0).mean()
    return mean_grade >= 70

In [23]:
# test mean_grade on student_id 1
assert mean_atleast_70(1) == False, 'test failed'
print('test passed')

test passed

In [8]:
# sequence containing all distinct student ids
student_ids = grades['student_id'].unique()
student_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [24]:
list(filter(mean_atleast_70, student_ids))

[3, 5, 7, 8, 9, 10]